@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
    --clr-text: #222;
    --clr-text-sub: #222;
    --clr-dark: #012e40;
    --clr-main-0: #025159;
    --clr-main-1: #038c8c;
    --clr-main-2: #03a696;
    --clr-sub: #f28705;
    --transition: all 0.3s ease-in-out;
    --spacing: 0.075rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    --max-width: 1170px;
    --fixed-width: 450px;
    box-sizing: border-box;
}
html,
#root,
.App {
    margin: 0;
    padding: 0;
    min-height: 100%;
    transition: 0.3s;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-grey-1);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
li {
    margin: 0.5rem 0.75rem;
}
a {
    font-family: 'Montserrat', sans-serif 'Roboto', sans-serif;
    color: var(--clr-text);
    font-weight: bolder;

    text-decoration: none;
    cursor: pointer;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}
.container {
    max-width: 960px;
    min-width: 360px;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
}

@media (max-width: 328px) {
    .Container {
        width: 260px;
    }
}
@media (max-width: 368px) and (min-width: 328px) {
    .Container {
        width: 320px;
    }
}
@media (max-width: 486px) and (min-width: 368px) {
    .Container {
        width: 360px;
    }
}
/* smaller */
@media (max-width: 768px) and (min-width: 480px) {
    .Container {
        width: 460px;
    }
}
/* Small */
@media (min-width: 768px) {
    .Container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .Container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .Container {
        width: 1170px;
    }
}

/* ////////////////////////////////////Global//////////////////////////////////// */
/* ////////////////////////////////////Hero//////////////////////////////////// */

#Hero {
    /* background: url(../image/BGG.png); */
    background-color: var(--clr-dark);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#Hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#Hero-Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Hero-Text h1 {
    font-family: 'Courgette', cursive;
}
/* ////////////////////////////////////Hero//////////////////////////////////// */

.Post a {
    text-decoration: underline;
}
#NavBar {
    min-height: 69px;
    top: 0;
}
#Contact,
#Posts,
#Hero,
#Projects {
    min-height: calc(100vh - 69px);
}
#sign {
    min-height: calc(100vh - 131px);
}
#Projects {
    overflow: hidden;
}
.Project {
    z-index: 1;
}
.Project-Image {
    transform: translate(-10%);
    z-index: -1;
    position: relative;
}
.Project:nth-of-type(2n) .Project-Image {
    transform: translate(10%);
}
.Project-Image .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--bs-danger-rgb), 0.6);
    transition: var(--transition);
}
.Project-Image .overlay:hover {
    opacity: 0;
}
.Project-Data {
    z-index: 3;
}
@media (max-width: 768px) {
    .Project-Image {
        transform: translate(-10%, -50%);
    }
    .Project:nth-of-type(2n) .Project-Image {
        transform: translate(10%, -50%);
    }
    .Project-Image .overlay:hover {
        opacity: 1;
    }
}
@media (max-width: 576px) {
    .Project {
        z-index: 1;
        flex-direction: row-reverse;
    }
    .Project-Image {
        transform: translate(0%, 0%);
    }
    .Project:nth-of-type(2n) .Project-Image {
        transform: translate(0%);
    }
}
#Contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Modal {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-sub);
    box-shadow: 0px 5px 5px inset rgba(107, 107, 107, 0.5);
}
.Post {
    background-color: rgba(var(--bs-danger-rgb), 0.9);
}
.Post-Head-Sub {
    justify-content: space-between;
}
.Post-Head p span {
    background-color: rgba(var(--bs-dark-rgb), 0.6);
    width: fit-content;
}
.Post-Body p {
    color: rgba(var(--bs-dark-rgb), 0.8);
}
.Post-Body p a {
    color: rgba(var(--bs-info-rgb), 0.8) !important;
}
#Contact-Form,
.RegisterForm,
.LoginForm {
    position: relative;
    max-width: 768px;
}
#Contact-Form {
    background-color: var(--bs-gray-700);
}
.contact-name {
    width: 50%;
}
@media (max-width: 768px) {
    .contact-name {
        width: 100%;
    }
}
.bg-main {
    background-color: var(--clr-bg-main);
}
.bg-sub {
    background-color: var(--clr-bg-sub);
}
.clr-main {
    background-color: var(--clr-main);
}
.clr-sub {
    background-color: var(--clr-sub);
}
/* ////////////////////////////////////Buttons//////////////////////////////////// */
.btn {
    padding: 0.5rem 0.75rem;
    margin: 1rem 0rem;
    background-color: var(--clr-sub);
    color: var(--clr-text-sub);
    transition: var(--transition);
    border-radius: 1rem;
    border: 1px solid var(--clr-sub);
}
.btn:hover {
    background-color: var(--clr-text-dark);
    color: var(--clr-sub);
    border-radius: 3px black;
}
/* ////////////////////////////////////Buttons//////////////////////////////////// */
